.hospital-details {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

    .hospital-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .hospital-info {
        .property {
            display: flex;
            margin-bottom: 10px;

            .property-name {
                width: 150px;
                font-weight: bold;
                color: #555;
                margin-right: 200px;
            }

            .property-value {
                flex: 1;
                color: #333;
            }
        }

        .nested-properties {
            margin-top: 20px;
            padding-left: 20px;

            .nested-properties-heading {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .nested-properties-content {
                .property {
                    margin-bottom: 5px;

                    .property-name {
                        width: 120px;
                        font-weight: bold;
                        color: #555;
                    }

                    .property-value {
                        flex: 1;
                        color: #333;
                    }
                }
            }
        }
    }
}

//2222222222222222222222222222222222222222
// .hospital-details {
//     background-color: #f0f0f0;
//     padding: 20px;
//     border-radius: 5px;
//     margin-bottom: 20px;

//     .hospital-name {
//         font-size: 20px;
//         font-weight: bold;
//         margin-bottom: 10px;
//     }

//     .hospital-info {
//         .hospital-info-item {
//             margin-bottom: 5px;
//             font-size: 16px;
//         }
//     }
// }